<ul class="list">
    {{#each GLOBAL.articles}}

    <li class="article">
        <a>
            <img src="{{URL}}public/thumbs/{{@index}}.jpg" />
            <div class="text">
                <div class="wrap">
                    <h1 class="headline">{{headline}}</h1>

                    <p>
                        <span class="title">{{title}}: </span>
                        <span class="description">{{description}}</span>
                    </p>
                </div class="wrap">
            </div>
        </a>
    </li>

    {{/each}}
</ul>